

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

h2 {
    height: 100px;
    margin: 0;
}

p {
    font-size: 50px;
}

.dealers-items {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-deck {
    
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.players-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: -50px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: -50px;
    
}


.buttons {
    margin-top: 100px;
}


#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#stand {
    width: 100px;
    height: 50px;
    font-size: 20px;
}




#center-deck {
    height: 175px;
    width: 125px;
    cursor: pointer;
}

.center-deck-title {
    font-size: 20px;
    font-weight: bold;
}